/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/*icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*variables glovales*/
:root{
    --colorTexto:#272727;
    --red_GGST:#640007;
    --yellow_GGST:#ffc100;
    --orange_GGST:#FF8200;




}
/* redefinicion: Por defecto*/
*{
    font-family: "Oswald", sans-serif; 
    margin: 0;

}


/*Header*/
.sect-header{
    /*Todo el contenedor de header*/
    background-color: var(--red_GGST);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.sect-header nav{
    display: flex;
    justify-content: space-between;
}
/*main*/

/*seccion resumen muestra una lista de los juegos que se pueden ver*/
.resumen{
    /*contenedor de figures ordenados lateralmetne*/
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    /*ya que exceden el tamaño de pagina, las puse para pasar con un scroll lateral*/
}
/*figure de posters*/
.cont-img{
    justify-content: space-evenly;
}

.img.posters{
    /* afecta todas las imagenes posters*/
    margin: 1vw;
    max-width: 90vw;
    max-height: 50vh;
}
/*Seccion whishlist para futuros juegos*/

.whishList.cont-img{
    /*divicion para las imagenes de futuras listas*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.img.fut-compras{
    /*imagenes de la whish list*/
    gap: 1vw;
    width: 47vw;
    height: 35vh;

}
/* Guilty gear:strive*/
.video{
    /*contenedor de video y dos imagenes*/
    display: flex;
}
.img-char{
    width: 5vw;
}

