/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/*icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

/*variables glovales*/
:root{
    --colorTexto:#272727;
    --red_GGST:#640007;
    --white_GGST:#ffffff;
    --yellow_GGST:#ffc100;
    --orange_GGST:#FF8200;
    --blue_SF:#386fa4;
    --lightBlue_SF:#59A5D8;
    --orange_SF:#ff934f;
    --purple_SF:#503047;
    --black:#000000;
    --mtlgold_SG:#D4af37;
    --steambtn: #66c0f4;





}
/* redefinicion: Por defecto*/
*{
    font-family: "Oswald", sans-serif;
    color: var(--white_GGST); 
    margin: 0;
    scroll-behavior: smooth;
}

/*papartado para generalidades generales*/
/* toda imagen ocupa el 100% de su contenedor 

deja espacio de 10% para nombres*/
img{
    width: 100%;
    height: 100%;
}
.char-icon{
    width: 100%;
    height: 90%;
}
/*ancors */
a{
    text-decoration: none;
    color: var(--white_GGST);
    font-size: 2rem;
    margin: 0;
    padding: 0;
    

}
/*body*/
body{
    background-color: var(--colorTexto);
}
.btn-steam{
    background-color: var(--steambtn) ;
    position: fixed;
    height: 7vh;
    width: 3vw;
    bottom: 1vh ;
    right: 1vw;
    border-radius: 10px;
    display: flex;
    
}

/* todo h3 con la etiqueta de ttl */
.ttl{
    font-size: 3rem;
    padding-left: 2rem ;
    
}
/*todo figcaptation tendra letra balnca y se alinea al centro debajo de la imagen*/
figcaption{
    
    color: var(--white_GGST);
    text-align: center;
    
}
/*cualquier seccion en donde se contendra un video sera flexibe y */
.video{
    display: flex;
    justify-content: center;
    align-self: center;
}
/*header y footer*/
.sect.inicio-final{
    padding: 10px;
    background-color: var(--red_GGST);
    display: flex;
    align-items: center;
    color: var(--white_GGST);
    
}
.material-symbols-outlined{
    font-size: 100%;
}
.inicio-final nav{
    display: flex;
    gap: 10px;
}
/* manejo de solo el header */
.sect.inicio-final.inicio{
    position: sticky;
    top: 0;
    justify-content: space-between;
}

/*resumen para dirigirse a otras secciones */
.resumen{
    display: flex;
    gap: 1vh;
    /* overflow: scroll; */
    height: 50vh;
    align-content: center;
    gap:5px;
    margin: 1% 0;
}
.resumen .cont-img{
    height: 100%;
    width: 70vw;
}

/*Futuras reviews*/

.whishList .sect-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.whishList .cont-img{
    width: 95%;
    height: 40%;
    margin: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    justify-self: center;
    justify-content: center;
}
.whishList .cont-img figure{
    width: 45%;
    height: 20%;
    
}

/*titulos de todas las zonas*/
.sect.ggst .ttl{ 
    color: var(--white_GGST); 
}
.sect.ggst .ttl.GGST{/*titulo guilty*/
    
    background-image: linear-gradient(to right, var(--red_GGST),var(--orange_GGST),var(--yellow_GGST),var(--colorTexto));

}
.sect.SFV .ttl.sfv{/*titulo Street fighter*/
    background-image: linear-gradient(to right, var(--blue_SF),var(--purple_SF),var(--colorTexto));

}
.sect.SG .ttl.sg{ /*titulo skull girls*/
    background-image: linear-gradient(to right, var(--mtlgold_SG),var(--colorTexto));

}
.whishList .ttl.review { /*titulo futuras reviews*/
    background-image: linear-gradient(to right, var(--red_GGST),var(--orange_GGST),var(--yellow_GGST),var(--colorTexto));
}
/*guilty gear strive*/
.sect.ggst .video{
    margin: 5px 20%;
    
    height: 20%;
    
    
}
.video .cont-img-GGST{
    width: 20%;
}
.tex-art-char .cont-img-GGST{
    /* height: 100%; */
    width: 40%;
    
}

/*inciso que maneja todos los apartados de articulos y como se distribuyen internamete
se aplica en las tres secciones con juegos a la vez*/
.tex-art-char{
    margin: 1% 5%;
    display:  flex;
    justify-content: center;

}
.tex-art-char article{
    width: 60%;
    /*height: 100%; */
}

.tex-art-char article p{
    font-size: 1.5rem;
}
.tex-art-char .img-char{
    display: flex;
    gap: 7px;
    
}
.img-char figure{
    border: 3px solid var(--black);
    background-color: var(--colorTexto);

}


/*street figther v*/
.sect.SFV{
    background-image: url(../../public/img/SF5/backgroundSenatio.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.sect.SFV .info{
    display: flex;
    margin: 0 10%;
}
.sect.SFV .tex-art-char article{
    width: 100%;
    /*height: 100%; */
}

/* skullgirls */
.sect.SG{
    background-image: url(../../public/img/SG/Maplecrest_Escenario.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.sect.SG .tex-art-char p{
    color: var(--black);
}

/*footer*/
.sect.inicio-final.final{
    justify-content: space-between;
}

.img-a-pag-empresas{
    display: flex;
    gap:5%;
    width: 50%;
    align-items: center;
}
.img-a-pag-empresas .cont-img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.img-a-pag-empresas .sg-devs{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}
.img-a-pag-empresas .sg-devs .img-big .cont-img{
    width: 100%;
}
.img-a-pag-empresas .sg-devs .img-smll{
    display: flex;
    

}
.img-a-pag-empresas .sg-devs .img-smll .cont-img{
    width: 45%;
}

