/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/*icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

/*variables glovales*/
:root{
    --colorTexto:#272727;
    --red_GGST:#640007;
    --white_GGST:#ffffff;
    --yellow_GGST:#ffc100;
    --orange_GGST:#FF8200;
    --blue_SF:#386fa4;
    --lightBlue_SF:#59A5D8;
    --orange_SF:#ff934f;
    --purple_SF:#503047;
    --black:#000000;





}
/* redefinicion: Por defecto*/
*{
    font-family: "Oswald", sans-serif;
    color: var(--white_GGST); 
    margin: 0;
    scroll-behavior: smooth;
}

/*papartado para generalidades generales*/
/* toda imagen ocupa el 100% de su contenedor 

deja espacio de 10% para nombres*/
img{
    width: 100%;
    height: 100%;
}
.char-icon{
    width: 100%;
    height: 90%;
}
/*ancors */
a{
    text-decoration: none;
    color: var(--white_GGST);
    font-size: 2rem;
    margin: 0;
    padding: 0;
    

}
/*body*/
body{
    background-color: var(--colorTexto);
}
/* todo h3 con la etiqueta de ttl */
.ttl{
    font-size: 3rem;
    padding-left: 2rem ;
    
}

figcaption{
    
    color: var(--white_GGST);
    text-align: center;
    
}
.video{
    display: flex;
    justify-content: center;
    align-self: center;
}
/*header*/
.inicio-final{
    padding: 10px;
    background-color: var(--red_GGST);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white_GGST);
    position: sticky;
    top: 0;
}
.material-symbols-outlined{
    font-size: 100%;
}
.inicio-final nav{
    display: flex;
    gap: 10px;
}
/*resumen para dirigirse a otras secciones */
.resumen{
    display: flex;
    gap: 1vh;
    /* overflow: scroll; */
    height: 50vh;
    align-content: center;
    gap:5px;
    margin: 1% 0;
}
.resumen .cont-img{
    height: 100%;
    width: 70vw;
}

/*Futuras reviews*/
.whishList{
    
    
}
.whishList .ttl.review {
    color: var(--white_GGST);
    background-image: linear-gradient(to right, var(--red_GGST),var(--orange_GGST),var(--yellow_GGST),var(--white_GGST));
}
.whishList .sect-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.whishList .cont-img{
    width: 95%;
    height: 40%;
    margin: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    justify-self: center;
    justify-content: center;
}
.whishList .cont-img figure{
    width: 45%;
    height: 20%;
    
}

/*guilty gear strive*/
.sect.ggst .ttl.GGST{
    color: var(--white_GGST);
    background-image: linear-gradient(to right, var(--red_GGST),var(--orange_GGST),var(--yellow_GGST),var(--white_GGST));

}
.sect.ggst .video{
    margin: 5px 20%;
    
    height: 20%;
    
    
}
.video .cont-img-GGST{
    width: 20%;
}
.tex-art-char .cont-img-GGST{
    /* height: 100%; */
    width: 40%;
    
}

/*inciso que maneja todos los apartados de articulos y como se distribuyen internamete
se aplica en las tres secciones con juegos a la vez*/
.tex-art-char{
    margin: 1% 5%;
    display:  flex;
    justify-content: center;

}
.tex-art-char article{
    width: 60%;
    /*height: 100%; */
}

.tex-art-char article p{
    font-size: 1.5rem;
}
.tex-art-char .img-char{
    display: flex;
    gap: 7px;
    
}
.img-char figure{
    border: 3px solid var(--black);
    background-color: var(--colorTexto);

}


/*street figther v*/
.sect.SFV .info{
    display: flex;
    margin: 0 10%;
}
.sect.SFV .tex-art-char article{
    width: 100%;
    /*height: 100%; */
}
